#header {
    text-align: center;
    font-size: 4rem;
    padding: 5rem;
    font-weight: bold;
    color: white;
    display: block;
    max-width: 100%;
    height: auto;
}

#home {
    border: 1px solid white;
    border-radius: 3px;
    padding: 7px;
    padding-left:1rem;
    padding-right:1rem;
}

#home:hover {
    border: 3px solid white;
    border-radius: 3px;
    padding: 7px;
    padding-left:1rem;
    padding-right:1rem;
}

#portrait {
    width: 10rem;
    height: auto;
    margin: 3rem;
    margin-left: 7rem;
    margin-right: 0;
}

#ld {
    border-radius: 90px;
    background-color: white;
    color: black;
    border: none;
    font-size: 1rem;
    padding: 15%;
    text-align: center;
}

#piano {
    width: 7rem;
    height: auto;
    margin: 2rem;
    margin-left: 40%;
    margin-top: 4rem;
    margin-right: 0;
}

#piano-header {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#violin {
    width: 5rem;
    height: auto;
    margin-left: 40%;
    margin-top: 2rem;
}

#text-header {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

#description {
    margin-right: 2rem;
    margin-bottom: 8rem;
}


#special {
    margin-right: 0;
}

#books {
    margin-left: 5%;
    margin-right: 5%;
}

.nav-bar {
    padding: 1rem;
    text-align: center;
    background-color: black;
    font-size: 1.5rem;
    margin: 2rem;
}

.item {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.booktitle {
    text-align: center;
}

.cont {
    padding-right: 5%;
    padding-left: 5%;
}

.cover {
    width: 10rem;
    height: auto;
    margin: 20%;
    margin-left: 25%;
    margin-right: 25%;

}

.bookdesc {
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}

.bookhr {
    margin-right: 5%;
    margin-left: 5%;
}

.codinghr {
    margin-left: 4rem;
    margin-right: 4rem;
}

.bigcont {
    margin-top: 5%;
}

a {
    color: white;
}

a:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer {
    background-color: black;
    padding: 1rem;
    color: white;
    text-align: center;
    margin: 3rem;
}

hr {
    border-top: 1px solid white;
    margin-bottom: 2rem;
    margin-right: 3rem;
}

body {
    background-image: url(./images/forest.jpg);
    color: white;
}
